<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('../partials/head'); %>
</head> 
<body>
    <%- include('../partials/header'); %>

    <section id="searchbox">
            <div id="myroomscont">
                <h2>My rooms</h2>
                <div id="rommscontent"></div>
                <a target="_blank" class="regbtnromm" href="/add/room">Add room</a>
            </div>
    </section>

    <script src="partials/js/myrooms.js"></script>
</body>
</html>