body{
    font-family: 'Urbanist', sans-serif;
    background-color:#FAFAFA;
    padding: 60px 0 0 0;
    margin: 0;
}

.contentBox{
    padding: 40px 50px 100px 50px;
}

#map {
    width: 60%;
    height: 320px;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 700px;
}


h1{
    font-size: 44px;
    font-weight: 500;
}

h2{
    font-size: 42px;
    font-weight: 400;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

h1, h2, div, input {
    margin: 0px;
    padding: 0px;
}

a{
    color: #121212;
    text-decoration: none;
}

nav a {
    margin: 0 5px;
}


#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    top: 0;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #F2F2F2;
    height: 60px;
}

.menuleft{
    display: flex;
    align-items: center;
    max-width: 60%;
    width: 60%;
}

.menuright{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
}

#searchinpt{
    border: 1px solid #E0E0E0;
    width: 100%;
    height: 42px;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 20px;
    padding-left: 46px;
    box-sizing: border-box;

}

.searchpin{
    position: absolute;
    margin-left: 16px;
    height: 21px;
}

.menuright a{
    margin: 0 5px;
}

.profname{
    font-size: 17px;
    font-weight: 600;
}

.proficn{
    border-radius: 8px;
    margin-left: 10px;
    height: 42px;
}

.profilehead{
}

#registration{
    width: 400px;
    margin-top: 30px;
}

#login{
    width: 350px;
    margin-top: 30px;
}


#auth{
    margin-top: -60px;
    height: 100vh;
    display: flex;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#authImg{
    background-image: url('/static/front.jpg');
    background-position: center;
    height: calc(100vh - 60px);
    background-size: cover;
    max-width: 50%;
    width: 50%;
    min-width: 400px;
    border-radius: 22px;
}

.input_auth {
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    margin-top: 12px;
    box-sizing: border-box;
}


#authInput{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 400px;
    
}

.twoinpt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#loading{
        background-image: url('/static/circle-loader.gif');
        height: 50px;
        margin-bottom: -30px;
        width: 50px;
        background-size: cover;
        margin-left: calc(50% - 25px);
        display: none;
}

.regbtn{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    background-color: #FE662F;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: .2s;
}

.regbtn:hover{
    background-color: #B93100;
    cursor: pointer;
    transition: .2s;
}

#reg_error{
    display: none;
    height: 50px;
    background-color: #FDF3F3;
    border-radius: 8px;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    color: #EC3F3F;
}

.already{
    color: #585858;
    font-weight: 300;
    font-size: 14px;
    margin-top: 60px;
}


.link_black{
    color: #303030;
    font-weight: 600;
    text-decoration: none;
    transition: .2s;
}
.link_black:hover{
    text-decoration: underline;
    transition: .2s;
}

.regInput{
    margin-bottom: 15px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
}

#pacinput {
    max-width: 700px;
}

.pac-container{
    border-radius: 8px;
}

.hdpi .pac-icon {
    display: none;
}

.hdpi.pac-logo:after{
    display: none;
}

.pac-item{
    height: 40px;
    font-size: 16px !important;
    padding: 8px 20px 0 20px !important;
}

.pac-item:hover{
    cursor: pointer;
}


.petsinpt{
    width: 100%;
    margin-left: 20px;
}



#regNav{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

#showprev{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 12px;
    color: #404040;
    transition: .2s;
}

#previewImage{
    width: 80px;
    height: 80px;
    border-radius: 18px;
    object-fit: cover;
    margin: 20px 0;
}



#showprev:hover{
    background-color:#dddddd;
    cursor: pointer;
    transition: .2s;
}

.registrbtn{
    background-color: #FE662F;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    transition: .2s;
}

#finreg{
display: none;
width: 200px;
transition: .2s;
}

#shownext:hover, #finreg:hover{
    background-color:#B93100;
    cursor: pointer;
    transition: .2s;
}

#age, #maxpeople{
    width: 100%;
}

#section1, #section4, #section5, #section6{
    flex-direction: column;
}
 #section3{
    flex-direction: column;
    max-width: 300px;
}

#section2, #section3, #section4, #section5, #section6, #section7{
    display: none;
}


#section2, #section5, #section6, #section7{
    width: 380px;
    flex-direction: column;
}

#section4{
    max-width: 460px;
}

#section7{
    background-color: #fff;
    padding: 15px;
    border-radius: 9px;
}



.descarea{
    padding: 10px 20px;
    font-size: 15px;
    height: 80px;
    font-family: urbanist;
}



/* Стили для чекбокса */
.checkbox-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox-button input {
    display: none; /* Скрываем стандартный чекбокс */
}

.checkmark {
    display: inline-block;
    width: auto;
    background-color: #EDEDED;
    padding: 12px 16px;
    border-radius: 8px;
    margin: 4px 4px 4px 0;
    color: #313131;
    font-size: 15px;
    transition: background-color 0.3s;
}

.checkbox-button input:checked + .checkmark {
    background-color: #393939;
    color: #fff;
}

.lbl{
    color: #424242;
    font-weight: 400;
    margin: 20px 0 10px 0;
    display: block;
}


#fileInput, .phinput {
    visibility: hidden;
}

.uplimg{
    height: 40px;
    color: #000;
    display: flex;
    align-items: center;
    background-color: #E7E5F3;
    width: 100%;
    border-radius: 8px;
    transition: .2s;
    justify-content: center;
    transition: .2s;
}

.uplimg:hover{
    cursor: pointer;
    background-color:#B5B1D0;
    transition: .2s;
}


.uplprof{
    height: 40px;
    width: 100px;
    color: #000;
    display: flex;
    text-decoratuion: underline;
    align-items: center;
    margin-left: 30px;
    transition: .2s;

}
.uplprof:hover{
    cursor: pointer;
    font-weight: 700;
    transition: .2s;
}

#rangeInput {
    width: 100%;
}



.preview-area{
    display: flex;
    flex-wrap: wrap;
}
.preview-area img{
    margin: 7px;
    width: 176px;
    border-radius: 5px;
    height: 126px;
    object-fit: cover;
}
.preview-area img:not(:nth-child(4n)){
}


#roomblock{
    display: flex;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}


#contentblock{
    width: 54%;
    height: 100%;
    max-width: 700px;
}

#photoblock{
    width: 46%;
    max-width: 550px;
    height: 100%;
}

.rimg1{
    width: 100%;
    border-radius: 18px;
    height: 300px;
    object-fit: cover;
}

.twophotos{
    display: flex;
    box-sizing: border-box;
    padding: 10px 0;
    width: 100%;
    min-height: 170px;
    justify-content: space-between;
}

.smallimg{
    width: 50%;
    max-width: calc(50% - 6px);
    border-radius: 18px;
    object-fit: cover;
}


.fulladdress{
    color: #313131;
    font-size: 14px;
    margin-top: 14px;
}


.price{
    font-size: 30px;
    font-weight: 600;
}


.ownprof{
    display: flex;
    width: 250px;
        padding: 10px;
    height: 100px;
    background-color: #F4F4F4;
    border-radius: 18px;
}


.profimg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 18px;
}

.nameprof{
    font-weight: 700;
    margin-top: 13px;
    font-size: 18px;
}

.call:hover{
    transition: .2s;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.owninform{
    font-size: 14px;
    margin: -7px 0 0 40px;
}

.owner{
    display: flex;
}

.inf{
    margin: 12px;
    color: #454545;
}


.features{
    display: flex;
    margin-top: 50px;
}

.features p{
    margin-top: 10px;
    font-weight: 600;
}

.descript{
    max-width: 80%;
    font-size: 15px;
    word-spacing: 2px;
    color: #6f6f6f;
    line-height: 1.4;
    margin-top: 7px;
}


.infoblock{
    background-color: #F4F4F4;
    padding: 0 30px;
    width: auto;
    display: inline-block;
    margin-top: 30px;
    border-radius: 130px;
}

.infoblock p {
    display: inline-block;
}


.line{
    display: block;
    width: 80%;
    height: 1px;
    margin: 40px 0;
    background-color: #d8d8d8;
}

.fetr{
    background-color: #F4F4F4;
    display: inline-block;
    margin-right: 5px;
    padding: 11px 16px;
    font-size: 15px;
    border-radius: 10px;
}


#maproom{
    position: relative;
    overflow: hidden;
    height: 320px;
    max-width: 80%;
    border-radius: 18px;
}




#searchbox{
    display: flex;
    height: calc(100vh - 60px);
}



#content{
    height: 95%;
        padding: 40px 0 0 0;
    width: 52%;
    margin-left: 50px;
}

#contents{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
    margin-top: 20px;
    margin-left: -10px;


}

.cardimg{
    width: 100%;
    border-radius: 18px;
    height: 160px;
    object-fit: cover;
}

#roomcard{
    width: 28%;
    min-width: 260px;
    margin: 10px;
}

.profavatar{
    height: 30px;
    display: inline-block;
    width: 30px;
    border-radius: 200px;
    object-fit: cover;
}

.cardline{
    display: inline-block;
    background-color: #F2F2F2;
    border-radius: 120px;
    padding: 4px 12px 2px 8px;
}


.cardname{
    display: inline-block;
    margin: -23px 4px 0 10px;
    vertical-align: middle;
}


.cardpers{
    height: 35px;
    display: inline-block;
    padding: 3px 20px !important;
    margin-left: 10px;
    align-items: center;

}

.pers{
    height: 13px;
    margin: 11px 0 0 0;
}


.mcard{
    margin: -6px 0px 0 4px;
}

.pricecard{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Urbanist';
}

.secondline{
    display: flex;
    align-items: center;
    margin: -5px 0 0 10px;
}

.roomtype{
    margin-left: 10px;
    font-family: 'Urbanist';
    font-size: 15px;
    color: #8D8D8D;
}

.cardinf{
    height: 40px;
    margin-top: 7px;
}

.checkin{
    height: 15px;
    margin: 0 -3px 0 10px;
}


#mapblock{
    width: calc(50% - 80px);
    border-radius: 18px;
    margin: 40px 50px 40px 0;
}

 .gm-style-iw-c{
    max-width: 449px;
    padding: 0 !important;
    border-radius: 18px !important;
    max-height: 653px;
    min-width: 0px;
    margin: 0 !important;
}

.gm-style-iw-d{
    overflow: auto !important;
    padding: 0 !important;
    border-radius: 18px;
    margin: 0 !important;
}

.gm-ui-hover-effect{
    display: none !important;
}


.scard{
    margin: 7px 0 9px 17px;
}



#logout {
    padding: 0;
    border: none;
    font-size: 12px;
    color: #7a7a7a;
    margin: 0;
    background-color: transparent;
}

#logout:hover{
    cursor: pointer;
}

.logout{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#myroomscont{
    margin: 40px;
    height: min-content;
    max-width: 840px;
    min-width: 300px;
    padding: 20px;
    border-radius: 30px;
    background-color: #fff;
}

#rommscontent{
    display: flex;
    flex-wrap: wrap;
}

#myroomscont h2{
    width: 100%;
    padding: 20px;
}


.regbtnromm{
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 12px 24px;
    display: block;
    font-size: 15px;
    margin: 20px;
    text-align: center;
    width: 100px;
    background-color: #FE662F;
}


#searchform{
    width: 60%;
    margin-right: 20px;
}


.delimg{
    position: absolute;
    margin: 14px 0 0 226px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.delimg:hover{
    cursor: pointer;
}









.wp60{
    width: 60%;
}

.wp40{
    width: 40%;
}

.mr8{
    margin-right: 8px;
}

.mr12{
    margin-right: 12px;
}
.mr14{
    margin-right: 14px;
}

.mr40{
    margin-right: 40px;
}

.mb0{
    margin-bottom: 0px;
}

.ml20{
    margin-left: 20px;
}

.ml30{
    margin-left: 30px;
}

.mt40{
    margin-top: 40px;
}
.mt60{
    margin-top: 60px;
}

.df{
    display: flex;
}

.dfc{
    display: flex;
    align-items: center;
}

.dfb{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ff {
    font-family: 'Urbanist', sans-serif;
}


.w100{
    width: 100px;
}

.w100p{
    width: 100%;
}


.mw80p{
    max-width: 80%;
}

.fs14{
    font-size: 14px;
}